name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build

    - name: Run FCFS
      run: ./build/fcfs
      shell: bash

    - name: Run Round Robin
      run: ./build/round_robin
      shell: bash

    - name: Run Priority Scheduling
      run: ./build/priority_scheduling
      shell: bash

    - name: Run SJF
      run: ./build/sjf
      shell: bash

    - name: Run SRTF
      run: ./build/srtf
      shell: bash

    - name: Run Multilevel Queue
      run: ./build/multilevel_queue
      shell: bash